#slider-dress {
	li {
		&.selected {
			@include css3-prefix(transform, translateX(0) scale(.95));
		}
		&:nth-of-type(1) {
			background-image: url('images/slider/Photo-Dress-01.png');
		}
		&:nth-of-type(2) {
			background-image: url('images/slider/Photo-Dress-02.png');
		}
		&:nth-of-type(3) {
			background-image: url('images/slider/Photo-Dress-03.png');
		}
		&:nth-of-type(4) {
			background-image: url('images/slider/Photo-Dress-01.png');
		}
	}
}
#slider-shoes {
	li {
		background-image: url('images/slider/Photo-Sandals.png');
		&.selected {
			@include css3-prefix(transform, translateX(0) translateY(-5%) scale(.7));
		}
	}
}

.product-slider {
	z-index: 1;
	overflow: hidden;
	position: absolute;
	&.show {
		.slides {
			animation: bounceSize .75s ease forwards;
		}
	}
  .slides {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;
		@include css3-prefix(transform, scale(1));
    	li {
	      	width: 100%;
	      	height: 100%;
	      	position: absolute;
	      	transition: all .75s;
			display: inline-block;
			list-style-type: none;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
    	}
  }
}

.product-slider.animation-swipe {
  .slides {
    li {
      @include css3-prefix(transform, translateX(100%));
    }
    li.selected {
      z-index: 2;
      @include css3-prefix(transform, translateX(0));
    }
    li.move-left {
      @include css3-prefix(transform, translateX(-100%));
    }
    li.visible {
      z-index: 2;
    }
  }
  &.rtl {
    .slides {
      li {
        @include css3-prefix(transform, translateX(-100%));
      }
      li.selected {
        @include css3-prefix(transform, translateX(0));
      }
      li.move-left {
        @include css3-prefix(transform, translateX(100%));
      }
    }
  }
}

.product-slider.animation-fade {
  .slides {
    li {
      opacity: 0;
      visibility: hidden;
      transition: all 1s;
    }
    li.selected {
      opacity: 1;
      visibility: visible;
    }
  }
}

/* -------------------------------- 

Slider navigation

-------------------------------- */
.slider-navigation {
	width: 90%;
	height: 24px;
	z-index: 99999;
	display: none;
	&.show {
		display: block;
	}
	li {
		list-style-type: none;
	}
	a {
		top: 50%;
		left: 30px;
		z-index: 3;
		opacity: .6;
		width: 48px;
		height: 48px;
		overflow: hidden;
		cursor: pointer;
		text-indent: 100%;
		position: absolute;
		color: transparent;
		white-space: nowrap;
		transition: all .3s;
		@include css3-prefix(transform, translateY(-50%));
		background: url(images/icons/slider-arrow.png) no-repeat center center;
	}
	&:hover {
		opacity: 1;
	}
	a.prev {
		@include css3-prefix(transform, translateY(-50%) rotate(180deg));
	}
	a.next {
		left: auto;
		right: 30px;
	}
}

@keyframes bounceSize {
	0% {
    	@include css3-prefix(transform, scale(.85));
    }
    100% {
    	@include css3-prefix(transform, scale(1));
    }
}